<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}농수산물 시세 알리미{% endblock %}</title>

    {% block css %}
        <!-- CSS-->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
    {% endblock %}
</head>
<body>
<header>
    {% block nav %}
    {% endblock %}
</header>
<main>
    {% block contents %}{% endblock %}
    {% block footer %}
        <!-- FOOTER -->
            <hr>
        <footer class="container mt-3">
            <!-- Copyright -->
            <div class="text-center py-3">© 2018 Copyright:
                <a href="https://github.com/cau-boys/agro_fishery_products">CAU-Boys</a>
            </div>
            <!-- /Copyright -->
        </footer><!-- /FOOTER -->
    {% endblock %}
</main>

{% block js %}<!-- Javascript -->{% endblock %}
</body>
</html>