section{
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.category_item{
    margin-bottom: 2rem;
}

.category_icon{
    margin-bottom: 1rem;
}

.category_link{
    color: black;
    text-decoration: none !important;
}

#topics {
    margin: 7rem;
    margin-top: 0rem;
    padding-top: 5rem;
}

.topic {
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
}

.topic-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.topic-content{
    font-size: 1.1rem;
}